label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 5px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}

button {
    background-color: #f90505;
    color: white;
    padding: 12px 20px;
    border: 5px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color: #1cd225;
}


.table-container {
    width: 100%;
    overflow-x: auto; /* Añadir barra de desplazamiento horizontal si es necesario */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Añadir un margen inferior para separar la tabla de otros elementos */
  }
  
  /* Estilo para las celdas del encabezado */
  .table th {
    background-color: #000000;
    padding: 12px;
    text-align: left;
    font-weight: bold;
  }
  
  /* Estilo alternativo para las filas (cambia el color de fondo) */
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Estilo para las celdas del cuerpo de la tabla */
  .table td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  /* Hover sobre las filas */
  .table tbody tr:hover {
    background-color: #e6e6e6;
  }